.catalog-slider {
    position: relative;
    z-index: 12;

    @include desktop {
        &__inner {
            grid-column: 2/11 span;
        }

        &__slider {
            margin-top: 60px;
        }

        &__bottom {
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 630px;
            width: 100%;
        }

        &__nav {
            display: flex;
            width: 80px;
            justify-content: space-between;
            align-items: center;
            height: fit-content;
        }

        &__prev,
        &__next {
            cursor: pointer;
            width: 11px;
            height: 23px;
            background-size: cover;
        }

        &__prev {
            background-image: url(../img/icons/slider-arr.svg);
        }

        &__next {
            background-image: url(../img/icons/slider-arr-next.svg);
        }
    }

    @include tablet {
        &__inner {
            grid-column: 12 span;
        }

        &__slider {
            margin-top: 60px;
        }

        &__bottom {
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 630px;
            width: 100%;
        }

        &__nav {
            display: flex;
            width: 80px;
            justify-content: space-between;
            align-items: center;
            height: fit-content;
        }

        &__prev,
        &__next {
            cursor: pointer;
            width: 11px;
            height: 23px;
            background-size: cover;
        }

        &__prev {
            background-image: url(../img/icons/slider-arr.svg);
        }

        &__next {
            background-image: url(../img/icons/slider-arr-next.svg);
        }
    }

    @include mobile {
        &__inner {
            grid-column: 12 span;
        }

        &__slider {
            margin-top: 30px;
        }

        &__bottom {
            margin-top: 30px;
            display: flex;
            width: 100%;
        }

    }
}