* {
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Wix Madefor Display", sans-serif;
  overflow-x: hidden;
}

.page {
  position: relative;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.col-1 {
  grid-column: 1 span;
}

.col-2 {
  grid-column: 2 span;
}

.col-3 {
  grid-column: 3 span;
}

.col-4 {
  grid-column: 4 span;
}

.col-5 {
  grid-column: 5 span;
}

.col-6 {
  grid-column: 6 span;
}

.col-7 {
  grid-column: 7 span;
}

.col-8 {
  grid-column: 8 span;
}

.col-8 {
  grid-column: 8 span;
}

.col-9 {
  grid-column: 9 span;
}

.col-10 {
  grid-column: 10 span;
}

.col-11 {
  grid-column: 11 span;
}

.col-12 {
  grid-column: 12 span;
}

.wrapper {
  max-width: 1326px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.btn-hover {
  position: relative;
  overflow: hidden;
  transition: all 0.2s;
}

.btn-hover::before {
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(-45deg);
  right: 30px;
  opacity: 0;
  transition: all 0.4s;
}

.btn-hover:hover {
  width: 220px;
}

.btn-hover:hover:before {
  right: 25px;
  opacity: 1;
}

.card-up {
  transform: translateY(100px);
  opacity: 0;
  transition: all 0.2s;
}

.card-up-2 {
  transform: translateY(100px);
  opacity: 0;
  transition: all 0.2s;
  transition-delay: 0.2s;
}

.card-up-4 {
  transform: translateY(100px);
  opacity: 0;
  transition: all 0.2s;
  transition-delay: 0.4s;
}

.card-up.animated {
  transform: none;
  opacity: 1;
}

.card-up-2.animated {
  transform: none;
  opacity: 1;
}

.card-up-4.animated {
  transform: none;
  opacity: 1;
}

.fade-left {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.2s;
}

.fade-right {
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.2s;
}

.fade-down {
  transform: translateY(200px);
  opacity: 0;
  transition: all 0.2s;
}

.fade-left.animated {
  transform: translateX(0%);
  opacity: 1;
}

.fade-right.animated {
  transform: translateX(0%);
  opacity: 1;
}

.fade-down.animated {
  transform: translateY(0%);
  opacity: 1;
}

.header {
  padding: 20px 0;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer {
  background-color: #252638;
  color: white;
}

.nav__inner {
  width: 100%;
}

.nav__ul {
  display: flex;
}

.nav__ul_inner {
  background-color: white;
  padding: 44px 30px 16px 30px;
  transition: ease-in 0.2s;
  position: absolute;
  flex-direction: column;
  opacity: 0;
  z-index: -1;
  top: 35px;
  right: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.nav__li {
  position: relative;
}

.nav__li_parent:not(:last-child) {
  margin-right: 30px;
}

.nav__li_last {
  margin-left: 30px;
}

.nav__li_dropdown {
  padding-right: 21px;
}

.nav__li_dropdown:hover .nav__ul_inner {
  opacity: 1;
  z-index: 1;
}

.nav__li_inner:not(:last-child) {
  margin-bottom: 16px;
}

.nav__li:hover .nav__arrow-box {
  transform: translateY(-40%) rotate(180deg);
}

.nav__li:hover .nav__a_upper {
  color: #40AE97;
}

.nav__li:hover #arrow {
  stroke: #40AE97;
}

.nav__a {
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  position: relative;
  color: #000;
}

.nav__a:hover {
  color: #40AE97;
}

.nav__a_upper {
  padding: 8px 0;
}

.nav__arrow-box {
  transition: ease-in 0.2s;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.hamburger {
  cursor: pointer;
  position: relative;
  height: 100%;
  background: none;
  border: none;
  padding: 0;
}

.contact {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  padding-left: 25px;
  display: block;
  color: white;
}

.contact_tel::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url(../img/icons/tel.svg);
  left: 0;
  background-size: cover;
}

.contact_mail::before {
  position: absolute;
  content: "";
  width: 19px;
  height: 15px;
  background-image: url(../img/icons/mail.svg);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-size: cover;
}

.contact_loc::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 19px;
  background-image: url(../img/icons/loc.svg);
  left: 0;
  background-size: cover;
}

@media (min-width: 1100px) {
  .footer {
    padding: 90px 0;
  }

  .footer__inner {
    grid-column: 2/10 span;
  }

  .footer__top {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    -moz-column-gap: 30px;
         column-gap: 30px;
  }

  .footer__title-box {
    grid-column: 3 span;
  }

  .footer__title {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    margin-top: 20px;
  }

  .footer__content {
    grid-column: 4/7 span;
  }

  .footer__nav {
    display: flex;
    justify-content: space-between;
  }

  .footer__nav-link {
    font-size: 16px;
    font-weight: 400;
    display: block;
    color: white;
  }

  .footer__nav-link:not(:last-child) {
    margin-bottom: 15px;
  }

  .footer__contacts-block {
    margin: 60px 0;
  }

  .footer__contacts-line {
    display: flex;
    margin: 20px 0;
  }

  .footer__contacts-line .contact:not(:last-child) {
    margin-right: 20px;
  }

  .footer__address {
    max-width: 600px;
  }

  .footer__other-places {
    display: flex;
    max-width: 380px;
    justify-content: space-between;
  }

  .footer__other-places-title {
    display: block;
    opacity: 0.6;
    margin-bottom: 16px;
  }

  .footer__icon-link:not(:last-child) {
    margin-right: 20px;
  }

  .footer__bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 40px;
    padding-top: 40px;
  }

  .footer__bottom-inner {
    display: flex;
    justify-content: space-between;
    grid-column: 2/10 span;
  }

  .footer__bottom-link {
    display: block;
    color: white;
    text-decoration-line: underline;
  }

  .hamburger {
    width: 48px;
  }

  .hamburger__box {
    position: relative;
    width: 48px;
    height: 35px;
  }

  .hamburger__inner {
    display: block;
    height: 100%;
    position: relative;
  }

  .hamburger__inner::before,
  .hamburger__inner::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #000;
    left: -3px;
  }

  .hamburger__inner::before {
    top: 10px;
  }

  .hamburger__inner::after {
    bottom: 5px;
  }
}

@media screen and (max-width: 1300px) {
  .card-up,
  .card-up-2,
  .card-up-4 {
    transition-delay: 0s;
  }
}

@media (max-width: 700px) and (min-width: 320px) {
  .grid {
    -moz-column-gap: 0px;
         column-gap: 0px;
  }

  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .header__nav {
    display: none;
  }

  .footer {
    padding: 60px 0;
  }

  .footer__inner {
    grid-column: 12 span;
  }

  .footer__top {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    -moz-column-gap: 30px;
         column-gap: 30px;
  }

  .footer__title-box {
    grid-column: 3 span;
  }

  .footer__title {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    margin-top: 20px;
  }

  .footer__content {
    margin-top: 30px;
    grid-column: 10 span;
  }

  .footer__nav {
    display: flex;
    flex-direction: column;
  }

  .footer__nav-block:not(:last-child) {
    margin-bottom: 15px;
  }

  .footer__nav-link {
    font-size: 16px;
    font-weight: 400;
    display: block;
    color: white;
  }

  .footer__nav-link:not(:last-child) {
    margin-bottom: 15px;
  }

  .footer__contacts-block {
    margin: 30px 0;
  }

  .footer__contacts-line {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }

  .footer__contacts-line .contact:not(:last-child) {
    margin-bottom: 15px;
  }

  .footer__address {
    max-width: 600px;
  }

  .footer__other-places {
    display: flex;
    flex-direction: column;
  }

  .footer__other-places-block:not(:last-child) {
    margin-bottom: 30px;
  }

  .footer__other-places-title {
    display: block;
    opacity: 0.6;
    margin-bottom: 16px;
  }

  .footer__icon-link:not(:last-child) {
    margin-right: 20px;
  }

  .footer__bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 30px;
    padding-top: 30px;
  }

  .footer__bottom-inner {
    display: flex;
    flex-direction: column;
    grid-column: 12 span;
  }

  .footer__bottom-link {
    display: block;
    color: white;
    text-decoration-line: underline;
    margin-top: 15px;
  }

  .hamburger {
    width: 30px;
  }

  .hamburger__box {
    position: relative;
    width: 30px;
    height: 20px;
  }

  .hamburger__inner {
    display: block;
    height: 100%;
    position: relative;
  }

  .hamburger__inner::before,
  .hamburger__inner::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #000;
    left: -3px;
  }

  .hamburger__inner::before {
    top: 5px;
  }

  .hamburger__inner::after {
    bottom: 5px;
  }
}

@media (min-width: 700px) and (max-width: 1100px) {
  .wrapper {
    max-width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .header__nav {
    display: none;
  }

  .footer {
    padding: 90px 0;
  }

  .footer__inner {
    grid-column: 2/10 span;
  }

  .footer__top {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    -moz-column-gap: 30px;
         column-gap: 30px;
  }

  .footer__title-box {
    grid-column: 3 span;
  }

  .footer__title {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    margin-top: 20px;
  }

  .footer__content {
    margin-top: 40px;
    grid-column: 10 span;
  }

  .footer__nav {
    display: flex;
    justify-content: space-between;
  }

  .footer__nav-link {
    font-size: 16px;
    font-weight: 400;
    display: block;
    color: white;
  }

  .footer__nav-link:not(:last-child) {
    margin-bottom: 15px;
  }

  .footer__contacts-block {
    margin: 60px 0;
  }

  .footer__contacts-line {
    display: flex;
    margin: 20px 0;
  }

  .footer__contacts-line .contact:not(:last-child) {
    margin-right: 20px;
  }

  .footer__address {
    max-width: 600px;
  }

  .footer__other-places {
    display: flex;
    max-width: 380px;
    justify-content: space-between;
  }

  .footer__other-places-title {
    display: block;
    opacity: 0.6;
    margin-bottom: 16px;
  }

  .footer__icon-link:not(:last-child) {
    margin-right: 20px;
  }

  .footer__bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 40px;
    padding-top: 40px;
  }

  .footer__bottom-inner {
    display: flex;
    flex-direction: column;
    grid-column: 2/10 span;
  }

  .footer__bottom-link {
    display: block;
    color: white;
    text-decoration-line: underline;
    margin-top: 15px;
  }

  .hamburger {
    width: 40px;
  }

  .hamburger__box {
    position: relative;
    width: 40px;
    height: 35px;
  }

  .hamburger__inner {
    display: block;
    height: 100%;
    position: relative;
  }

  .hamburger__inner::before,
  .hamburger__inner::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #000;
    left: -3px;
  }

  .hamburger__inner::before {
    top: 10px;
  }

  .hamburger__inner::after {
    bottom: 5px;
  }
}