.animate-count {
  transform: translateY(100%);
  transition: transform .8s cubic-bezier(.351, .311, 0, .995);
}

.animate-count.animated {
  transform: translateY(0%);
}

.animate-count-opacity {
  transform: translateY(100%);
  transition: transform .8s cubic-bezier(.351, .311, 0, .995);
}

.animate-count-opacity.animated {
  transform: translateY(-102%);
}

.fade-up{
  transform: translateY(100%);
  opacity: 0;
  transition: all .8s cubic-bezier(.351, .311, 0, .995);
}

.fade-up.animated{
  transform: translateY(0%);
  opacity: 1;
}

.ready .swiper-slide-active .fade-up {
  transform: translateY(0%);
  opacity: 1;
}

.fade-in-slider{
  opacity: 0;
  transition: all 2s cubic-bezier(.351, .311, 0, .995);
}


.ready .swiper-slide-active .fade-in-slider{
  opacity: 1;
}