.catalog {
 

    &__img {
        width: 100%;
    }

    @include desktop {
        padding-bottom: 110px;

        &__inner {
            grid-column: 2/10 span;
        }
    }

    @include tablet {
        padding-bottom: 90px 0;

        &__inner {
            grid-column: 12 span;
        }
    }

    @include mobile {
        padding-bottom: 80px 0;

        &__inner {
            grid-column: 12 span;
        }
    }


}