.error {
    min-height: 100vh;
    background-color: $color-accent;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/other/404-bg.png);
    background-repeat: no-repeat;
    background-position: right;


    &__container {
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $color-primary1;
    }

    @include desktop {

        background-size: contain;

        &__title {
            font-size: 300px;
            font-weight: 600;
            margin-bottom: 60px;
        }

        &__subtitle {
            @include Body_Standart_0_Desktop_Regular;
            margin-bottom: 80px
        }

        &__secondary {
            @include Body_Standart_1_Desktop_Regular;
            margin-bottom: 40px;
        }
    }

    @include tablet {
        background-size: cover;

        &__title {
            font-size: 200px;
            font-weight: 600;
            margin-bottom: 60px;
        }

        &__subtitle {
            @include Body_Standart_0_Desktop_Regular;
            margin-bottom: 80px
        }

        &__secondary {
            @include Body_Standart_1_Desktop_Regular;
            margin-bottom: 40px;
        }
    }

    @include mobile {
        background-size: cover;

        &__title {
            font-size: 150px;
            font-weight: 600;
            margin-bottom: 60px;
        }

        &__subtitle {
            @include Body_Standart_0_Mobile_Regular;
            margin-bottom: 40px;
            text-align: center;
        }

        &__secondary {
            @include Body_Standart_1_Mobile_Regular;
            margin-bottom: 40px;
           
        }
    }
}