.news {
    &__card {
        color: $color-primary;
    }

    @include desktop {
        padding: 120px 0 110px 0;

        &__inner {
            grid-column: 2/10 span;
        }

        &__container {
            display: flex;
            justify-content: space-between;
            margin-top: 55px;
        }

        &__card {
            &:not(:last-child) {
                margin-right: 15px
            }
        }

        &__card-date {
            @include Body_Standart_1_Desktop_Semibold;
            color: $color-accent;
            display: block;
            margin-bottom: 15px;
        }

        &__card-text {
            @include Body_Standart_2_Mobile_Regular;
            margin-top: 15px;
        }

        &__slider-button-box {
            display: flex;
            justify-content: center;
            margin-top: 40px;
        }

        &__img {
            width: 100%;
        }
    }

    @include tablet {
        padding: 100px 0;

        &__inner {
            grid-column: 12 span;
        }

        &__container {
            display: flex;
            justify-content: space-between;
            margin-top: 60px;
        }

        &__card {
            &:not(:last-child) {
                margin-right: 15px
            }
        }

        &__card-date {
            @include Body_Standart_1_Desktop_Semibold;
            color: $color-accent;
            display: block;
            margin-bottom: 15px;
        }

        &__card-text {
            @include Body_Standart_2_Mobile_Regular;
            margin-top: 15px;
        }

        &__slider-button-box {
            display: flex;
            justify-content: center;
            margin-top: 40px;
        }

        &__img {
            width: 100%;
        }
    }

    @include mobile {
        padding: 100px 0 80px;

        &__inner {
            grid-column: 12 span;
        }

        &__container {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
        }


        &__card-date {
            @include Body_Standart_1_Mobile_Semibold;
            color: $color-accent;
            display: block;
            margin-bottom: 15px;
        }

        &__card-text {
            @include Body_Standart_2_Mobile_Regular;
            margin-top: 15px;
        }

        &__slider-button-box {
            display: flex;
            justify-content: start;
            margin-top: 30px;
        }

        &__img {
            width: 100%;
        }
    }
}