.contacts {

    &__wrapper {
        position: initial;
    }

    @include desktop {
        padding: 110px 0 0 0;

        &__inner {
            grid-column: 2/10 span;
        }

        &__content {
            display: flex;
            margin-top: 40px;
        }

        &__container {
            display: grid;
            row-gap: 40px;
            flex-direction: column;
            max-width: 325px;
            margin-right: $grid-col;
            margin-bottom: 110px;
        }

        &__box {
            display: grid;
            row-gap: 8px;
        }

        &__map {
            height: 640px;
            width: 100%;

            #map {
                height: 100%;
                width: 100%;
            }
        }
    }

    @include tablet {
        position: relative;
        padding: 90px 0 250px 0;

        &__inner {
            grid-column: 12 span;
        }

        &__content {
            display: flex;
            flex-direction: column;
            margin-top: 40px;
        }

        &__container {
            display: grid;
            row-gap: 40px;
            flex-direction: column;
            max-width: 100%;
            margin-bottom: 110px;
        }

        &__box {
            display: grid;
            row-gap: 8px;
        }

        &__question {
            position: absolute;
            bottom: 0;
            margin-bottom: 0;
        }

        &__map {
            height: 440px;
            width: 100%;

            #map {
                height: 100%;
                width: 100%;
            }
        }
    }

    @include mobile {
        position: relative;
        padding: 70px 0 290px 0;

        &__inner {
            grid-column: 12 span;
        }

        &__content {
            display: flex;
            flex-direction: column;
            margin-top: 40px;
        }

        &__container {
            display: grid;
            row-gap: 40px;
            flex-direction: column;
            max-width: 100%;
            margin-bottom: 30px;
        }

        &__box {
            display: grid;
            row-gap: 8px;
        }

        &__question {
            width: 100%;
            position: absolute;
            bottom: 0;
            margin-bottom: 0;
        }

        &__map {
            height: 330px;
            width: 100%;

            #map {
                height: 100%;
                width: 100%;
            }
        }
    }
}