.header {
    padding: 20px 0;
    position: relative;
    z-index: 10;
    background-color: $color-primary1;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    @include tablet {
        &__nav {
            display: none;
        }
    }

    @include mobile {
        &__nav {
            display: none;
        }
    }
}