.card {

    @include desktop {
        display: block;
        max-width: 300px;
        width: 100%;

        &_news {
            display: flex;
            flex-direction: column;
            max-width: 325px;
            width: 100%;
        }

        &__img {
            display: block;
            margin-bottom: 15px;
        }

        &__title {
            flex-grow: 1;
            @include H5_D;
        }
    }

    @include tablet {
        max-width: 300px;

        &__img {
            display: block;
            margin-bottom: 15px;
        }

        &__title {
            @include H5_D;
        }
    }

    @include mobile {
        max-width: 100%;

        &__img {
            display: block;
            margin-bottom: 15px;
            width: 100%;
            max-height: 400px;
            object-fit: cover;
        }

        &__title {
            @include H5_M;
        }
    }
}