.back-link {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;

    img {
        margin-right: 10px;
    }

    &_news {
        margin-top: 40px;
    }
}