.banner {
    background-image: url(../img/other/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 12;

    &__line{
        transform-origin: right;
        transform: scaleX(0);
        transition: ease-in .8s;
    }

    &__line.animated{
        transform: scaleX(1);
    }

    @include desktop {
        padding: 135px 0;

        &__inner {
            grid-column: 2/10 span;
        }

        &__line-box {
            position: relative;
            padding: 30px 0;
        }

        &__line {
            position: absolute;
            width: 1810px;
            left: 0;
            height: 1px;
            background: rgba(255, 255, 255, 0.60);
        }

        &__text {
            @include Body_Accent1_Desktop;
            color: $color-primary1;

            &_accent {
                color: $color-accent;
            }

        }
    }

    @include tablet {
        padding: 100px 0;

        &__inner {
            grid-column: 12 span;
        }

        &__line-box {
            position: relative;
            padding: 30px 0;
        }

        &__line {
            position: absolute;
            width: 1810px;
            left: 0;
            height: 1px;
            background: rgba(255, 255, 255, 0.60);
        }

        &__text {
            @include Body_Accent1_Desktop;
            color: $color-primary1;

            &_accent {
                color: $color-accent;
            }

        }
    }

    @include mobile {
        padding: 60px 0;

        &__inner {
            grid-column: 12 span;
        }

        &__line-box {
            position: relative;
            padding: 30px 0;
        }

        &__line {
            position: absolute;
            width: 1810px;
            left: 0;
            height: 1px;
            background: rgba(255, 255, 255, 0.60);
        }

        &__text {
            @include Body_Accent1_Mobile;
            color: $color-primary1;

            &_accent {
                color: $color-accent;
            }
        }
    }
}