.control {
    background-color: $color-accent2;
    color: $color-primary1;
    position: relative;
    z-index: 12;

    &__line-box {
        position: relative;
    }

    &__line {
        position: absolute;
        left: 0;
        width: 1500px;
        height: 1px;
        background: $color-accent;
        transform: scaleX(0);
        transform-origin: right;
        transition: ease-in .6s;
    }

    &__line.animated{
        transform: scaleX(1);
    }

    @include desktop {

        &__inner {
            max-width: 1050px;
            margin: auto;
            padding: 150px 0;
            grid-column: 2/10 span;
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            column-gap: $offset-main;
        }

        &__title {
            grid-column: 1/3 span;
        }

        &__content {
            grid-column: 4/7 span;
            margin-left: $grid-col;
        }


        &__text {
            margin-top: $offset-secondary;
            margin-bottom: $offset-middle;
        }

        &__img-block{
            position: relative;
            grid-column: 1/5 span;
        }

        &__bg {
            position: absolute;
            right: -55px;
        }
    }

    @include tablet {

        &__bg{
            display: none;
        }

        &__inner {
            padding: 100px 0;
            grid-column: 12 span;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            column-gap: $offset-main;
        }

        &__title {
            grid-column: 3 span;
        }

        &__content {
            grid-column: 4/9 span;
            margin-left: $grid-col;
        }

        &__text {
            margin-top: $offset-secondary;
            margin-bottom: $offset-middle;
        }
    }

    @include mobile {

        &__bg {
                display: none;
            }

        &__inner {
            padding: 100px 0;
            grid-column: 12 span;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            column-gap: $offset-main;
        }

        &__title {
            grid-column: 12 span;
            margin-bottom: 30px;
        }

        &__content {
            grid-column: 12 span;
        }

        &__text {
            margin-top: $offset-secondary;
            margin-bottom: $offset-middle;
        }
    }
}