.tr-delay-1{
    transition-delay: .1s;
}

.tr-delay-2 {
    transition-delay: .2s;
}

.tr-delay-3 {
    transition-delay: .3s;
}

.tr-delay-4 {
    transition-delay: .4s;
}

.tr-delay-5 {
    transition-delay: .5s;
}

.tr-delay-6 {
    transition-delay: .6s;
}

.tr-delay-7 {
    transition-delay: .7s;
}

.tr-delay-8 {
    transition-delay: .8s;
}